#app {
  display: flex;
  flex-direction: column;
}

.Wrapper {
  padding: 0 10px;
}

.Header {
  display: flex;
  padding: 12px 0;
  justify-content: flex-start;
}

.Header__group {
  max-width: 324px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
}

.Header__group-logo {
  width: 32px;
  height: 32px;
}

.Header_Container {
  display: flex;
  /* background-color: aqua; */
  width: 100%;
}

@media screen and (max-width: 500px) {
  .Header__group {
    max-width: 100%;
    justify-content: right;
    /* position: fixed;
    background: #fef0d5;
    top: 0;
    left: 0;
    right: 0; */
  }
  .Header__group-logo {
    width: 28px;
    height: 28px;
    margin-left: 18px;
  }
}

.HeaderLight {
  padding: 15px 0;
  border-bottom: 1px solid #747487;
  margin-bottom: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
