body {
  background-color: #fef0d5;
  margin: 0;
  background-image: url(../../assets/background.jpg);
  /* background-size: cover; */
  background-size: 869px 579px;
  background-repeat: no-repeat;
  background-position-x: 692px;
  background-position-y: 83px;
}

.date {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #747487;
  font-style: italic;
}

#app {
  width: 100%;
  display: flex;
  justify-content: center;
}

p { 
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.Container {
  width: 1010px;
}

.Container__Center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.Card_container {
  min-height: 400px;
}

.Home__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 155px);
}

.Home__title {
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #e6848e;
  margin: 0;
}

.Home__subtitle {
  color: #747487;
  font-family: 'Lobster', cursive;
}

.Home__text {
  text-align: center;
  font-family: 'Lobster', cursive;
}

.Article__container {
  display: flex;
  width: auto;
  padding: 0 10px;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 32px;
}

.Article {
  height: auto;
  border: 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 3px 22px 8px;
  box-shadow: 3px 8px 6px rgba(0, 0, 0, 0.335);
  text-align: center;
}

.Article p {
  font-family: sans-serif;
  padding: 0 10px;
}

.btn {
  width: 185px;
  height: 47px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin: 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: 0.2s;
  will-change: transform;
  align-self: center;
}

.btn:active {
  transform: scale(0.9);
}

.primary {
  background-color: #e6848e;
}

.Subtitle {
  color: #747487;
  font-family: sans-serif;
  /* padding: 10px; */
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.back {
  font-size: 30px;
  margin: 0;
  padding-left: 10px;
  cursor: pointer;
}

.red {
  color: red;
}

.Form_group {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.Input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  outline: none;
  margin: 10px 0;
  width: 130px;
  font-size: 1.1em;
  box-sizing: border-box;
  align-self: center;
}

.btn_container {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  body {
    background-position-x: 492px;
    background-position-y: 70px;
  }
  .Container {
    width: 100%;
  }

  .Article__container {
    align-items: center;
  }

  .Article {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  body {
    background-image: none;
  }
  .Article__container {
    padding: 0;
  }
  .Article {
    width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* @media screen and (max-width: 500px) {
  .Home__title {
    margin-top: 40px;
  }
} */

@media screen and (max-width: 450px) {
  .btn {
    width: 90%;
    height: 38px;
  }
  .Input {
    width: 90%;
  }
  .Home__container {
    width: auto;
  }
}
